build/install/Tree-02.toc
build/install/Tree-01.toc
build/install/Tree-00.toc
build/install/PYZ-00.toc
build/install/PYZ-00.pyz
build/install/PKG-00.toc
build/install/localpycs/pyimod01_archive.pyc
build/install/localpycs/pyimod02_importers.pyc
build/install/localpycs/pyimod03_ctypes.pyc
build/install/localpycs/pyimod04_pywin32.pyc
build/install/localpycs/struct.pyc
turtleTello/__pycache__/tello.cpython-312.pyc
install.spec
build/install/Analysis-00.toc
build/install/base_library.zip
build/install/EXE-00.toc
build/install/install.pkg
build/install/warn-install.txt
build/install/xref-install.html
turtleTello/__pycache__/tello.cpython-312.pyc
turtleTello/__pycache__/tello.cpython-312.pyc
install.py
